@font-face {
    font-family: iransans;
    src: url(IRANSans-web.woff);
}

.bot{
    font-family: iransans;
    font-size: 15px;
    color: #dea54e;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin: 10px auto;
    text-align: center;
    line-height: 30px;
    background-image: linear-gradient(90deg,#363636 10%,#363636 10%, #363636 20% ,#363636 20%,#363636 30%,#363636  30%,#363636ee 40% ,#363636ee 40%, #dea44ee1 100% );
}
/*background-image: linear-gradient(90deg,#212121 10%,#212121 10%, #212121 20% ,#212121 20%,#212121 30%,#212121 30%,#212121 30%,#212121 40% ,#212121 40%, #dea44ee1 90% );#212121d7*/